.new_post {
   background: linear-gradient(135deg, rgba(225, 225, 225, 0.1), rgba(225, 225, 225, 0));
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 20px;
   border: 1px solid rgba(225, 225, 225, 0.18);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: start;
   flex-direction: column;
}

.title {
   align-self: start;
   color: #ffffff;
}
.submit {
   font-family: inherit;
   align-self: end;
   margin-top: 15px;
   width: 150px;
   height: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   border: 2px solid #9418db;
   border-radius: 15px;
   background: #9418db;
   cursor: pointer;
   transition: 0.5s all;
}

.submit:hover {
   font-family: inherit;
   background: #fff;
   color: #9418db;
   font-weight: bold;
   transition: 0.5s all;
}

.textarea {
   padding-bottom: 10px;
   color: #fff;
   margin-top: 10px;
   width: 100%;
   align-self: start;
   background: transparent;
   border: none;
   outline: none;
   border-bottom: 1px solid #252525;
   font-size: 18px;
}

.textarea:focus {
   border-bottom: 1px solid #9418db;
}
