.nav {
   background: linear-gradient(135deg, rgba(225, 225, 225, 0.1), rgba(225, 225, 225, 0));
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 20px;
   border: 1px solid rgba(225, 225, 225, 0.18);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   grid-row: span 2;
}

.list {
   text-align: center;
   list-style: none;
   padding: 0px;
   margin: 0px;
}

.item {
   margin: 20px 20px;
}

.link {
   text-decoration: none;
   color: #eeeeee;
}

.active {
   border-radius: 20px;
   padding: 10px 20px;
   color: #eeeeee;
   background: #9418db;
   text-decoration: none;
   transition: 0.4s all;
}
