.app-wrapper {
   margin: 10px auto;
   width: 1200px;
   display: grid;
   grid-template-rows: 250px 150px;
   grid-template-columns: 2fr 10fr;
   grid-gap: 15px;
   grid-template-areas:
      "nav profile"
      "nav newpost";
}

.posts {
   width: 1200px;
   margin: 10px auto;
   display: flex;
   flex-wrap: wrap;
}
