.app-wrapper {
   margin: 10px auto;
   width: 1200px;
   display: grid;
   grid-template-rows: repeat(2, auto);
   grid-template-columns: 2fr 8fr;
   grid-gap: 15px;
}

.posts {
   width: 1200px;
   margin: 10px auto;
   display: flex;
   flex-wrap: wrap;
}
