.wrapper {
   background: linear-gradient(135deg, rgba(225, 225, 225, 0.1), rgba(225, 225, 225, 0));
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 20px;
   border: 1px solid rgba(225, 225, 225, 0.18);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   grid-row: span 2;
   padding: 10px;
   display: flex;
   flex-direction: row;
   height: 65vh;
}

.wrapper__dialogs {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 40%;
   overflow-y: scroll;
   padding: 0px;
}

.item {
   color: #fff;
   text-decoration: none;
   margin-bottom: 10px;
   display: flex;
   border-radius: 20px;
   border: 1px solid rgba(225, 225, 225, 0.18);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   width: 90%;
   height: 100px;
   padding: 5px;
   align-items: center;
}

.item__avatar {
   width: 60px;
   border-radius: 50%;
   margin-right: 15px;
}

.item:focus {
   background: #9418db;
   transition: 0.5s all;
}

.windowMessages {
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: start;
   width: 100%;
   padding: 15px;
   padding-bottom: 0px;
   gap: 7px;
   align-items: flex-end;
}

.message {
   padding: 10px 20px;
   background: white;
   border-radius: 20px;
   color: black;
}

.messages__send {
   font-family: inherit;
   padding: 7px 35px;
   color: #fff;
   border: 2px solid #9418db;
   border-radius: 15px;
   background: #9418db;
   cursor: pointer;
   transition: 0.5s all;
}

.messages__send:hover {
   font-family: inherit;
   background: #fff;
   color: #9418db;
   font-weight: bold;
   transition: 0.5s all;
}

.messages__areaMessage {
   font-family: inherit;
   color: white;
   height: 22px;
   width: 500px;

   background: transparent;
   border-radius: 20px;
   border: 2px solid #9418db;
   outline: none;
   font-size: 18px;
   resize: none;
   padding: 10px 10px;
   overflow: hidden;
}

.messages__sendMessage {
   margin-top: 15px;
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 55px;
   justify-content: space-between;
   align-items: center;
}

.wrapper__dialogs::-webkit-scrollbar {
   width: 5px;
}

.wrapper__dialogs::-webkit-scrollbar-thumb {
   background: #9418db;
   border-radius: 50px;
}
